// =======================================================
// Styles
// =======================================================


// General
// =======================================================

.root {
    -fx-background-color: #f1f1f1;
}

// Objects
// =======================================================

.o-btn {
    -fx-pref-height: 30;
}

.o-list {
    -fx-pref-height: 110;
}